services:
  postgres:
    image: postgres:18-alpine
    ports:
      - 127.0.0.1:5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: rails_bulk_actionable
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:8-alpine
    ports:
      - 127.0.0.1:16379:6379
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data: