<% content_for :title, "Editing person" %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="h3 mb-0">Editing person</h1>
  <%= link_to "Back to people", people_path, class: "btn btn-outline-secondary" %>
</div>

<div class="mb-3">
  <%= render "form", person: @person %>
</div>

<div>
  <%= link_to "Show this person", @person, class: "btn btn-link p-0" %>
</div>
