<% content_for :title, "People" %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="h3 mb-0">People</h1>
  <%= link_to "New person", new_person_path, class: "btn btn-primary" %>
</div>

<div id="people" class="row row-cols-1 row-cols-md-2 g-3">
  <% @people.each do |person| %>
    <div class="col">
      <%= render person %>
      <div class="mt-2">
        <%= link_to "Show this person", person, class: "btn btn-sm btn-outline-secondary" %>
      </div>
    </div>
  <% end %>
</div>
