<% content_for :title, "Hobbies" %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="h3 mb-0">Hobbies</h1>
  <%= link_to "New hobby", new_hobby_path, class: "btn btn-primary" %>
</div>

<div id="hobbies" class="row row-cols-1 row-cols-md-2 g-3">
  <% @hobbies.each do |hobby| %>
    <div class="col">
      <%= render hobby %>
      <div class="mt-2">
        <%= link_to "Show this hobby", hobby, class: "btn btn-sm btn-outline-secondary" %>
      </div>
    </div>
  <% end %>
</div>
